.git
.gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache
htmlcov/
static/
staticfiles/
*.sqlite3
Dockerfile
docker-compose.yml
api/
