# Arquivos de Ambiente Virtual
venv/
/venv/

# Banco de dados
*.sqlite3
db.sqlite3

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de configuração do VSCode
.vscode/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db